<div class="panel panel-default">
    <div class="panel-heading">
        Test Step Details
    </div>
    <div class="panel-body">
        <div class="list-group">

            <div href="#" class="list-group-item">Author
                <span class="pull-right text-muted small">
                    <em>
                        {% if test_step.author.first_name or test_step.author.last_name %}
                            {{ test_step.author.first_name }} {{ test_step.author.last_name }}
                        {% else %}
                            {{ test_step.author.username }}
                        {% endif %}
                    </em>
                </span>
            </div>

            <div href="#" class="list-group-item">App.feature
                <span class="pull-right text-muted small">
                    <em>
                        {{ test_step.application_feature.name }}
                    </em>
                </span>
            </div>

            <div href="#" class="list-group-item">Creation date
                <span class="pull-right text-muted small"
                      title="{{ test_step.creation_date|date:"Y-m-d H:i:s" }} UTC">
                    <em>{{ test_step.creation_date|date:"Y-m-d" }}</em>
                </span>
            </div>

            <div href="#" class="list-group-item">Modification date
                <span class="pull-right text-muted small"
                      title="{{ test_step.modification_date|date:"Y-m-d H:i:s" }} UTC">
                    <em>{{ test_step.modification_date|date:"Y-m-d" }}</em>
                </span>
            </div>

        </div>
    </div>
</div>