{% extends "base.html" %}

{% block title %}Modify Screenshot{% endblock %}

{% block content %}

    <div class="container">

        <h1>Modify Screenshot</h1>

        <hr>

        <div class="row">

            <div class="col-md-3">
                {% include "components/screenshot/screenshot_preview_panel.html" %}
            </div>

            <div class="col-md-9">
                {% include "forms/screenshot/screenshot_modify_form.html" %}
            </div>

        </div>

    </div>

{% endblock %}