<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Creation date</th>
        <th>Modification date</th>
        <th>Author</th>
        <th>Tags</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for test_step in test_step_list %}
        <tr>
            <td><a href="/content/teststeps/view/{{ test_step.pk }}/">{{ test_step.name }}</a></td>
            <td>{{ test_step.status.name }}</td>
            <td><span title="{{ test_step.creation_date | date:"Y-m-d H:i:s" }} UTC">
                {{ test_step.creation_date | date:"Y-m-d" }}
            </span></td>
            <td><span title="{{ test_step.modification_date | date:"Y-m-d H:i:s" }} UTC">
                {{ test_step.modification_date | date:"Y-m-d" }}
            </span></td>
            <td>{{ test_step.author }}</td>
            <td>
                {% for tag in test_step.tags.all %}
                    <span class="label label-info">{{ tag.name }}</span>
                {% endfor %}
            </td>
            <td>
                <a href="/content/teststeps/modify/{{ test_step.pk }}/" type="button" class="btn btn-default btn-xs">
                    modify</a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="6">No test suites yet.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>