<form class="form-horizontal m2m" role="form" id="form" method="post"
      action="{% url "test_case_edit" pk=test_case.pk %}">

    {% csrf_token %}

    {{ form.as_p }}

    <div class="clearfix">
        <div class="form-group form-group-lg pull-right">
            <a href="{% url "test_case_edit" pk=test_case.pk %}"
               type="button" class="btn btn-default">Discard</a>
            <span></span>
            <input type="submit" class="btn btn-primary" value="Save Changes">
        </div>
    </div>
</form>