<div>
    <h3>Included Test Cases</h3>

    <div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Status</th>
                <th>Tags</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            {% for item in order_test_cases %}
                <tr>
                    <td>{{ item.number }}</td>
                    <td>
                        <a href="{% url "test_case_view" pk=item.test_case.pk %}">
                            {{ item.test_case.name }}
                        </a>
                    </td>
                    <td>{{ item.test_case.status.name }}</td>
                    <td>
                        {% for tag in item.test_case.tags.all %}
                            <span class="label label-info">{{ tag.name }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url "test_case_result_create" test_case_pk=item.test_case.pk %}"
                           type="button" class="btn btn-default btn-xs">
                            execute
                        </a>
                    </td>
                </tr>

            {% empty %}
                <tr>
                    <td colspan="5" class="text-center">
                        No testcases in this test suite yet.
                    </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>

    </div>

    <hr>

</div>