{% extends "base.html" %}

{% block title %}Test Cases{% endblock %}

{% block content %}

    <div class="container">

        <h1>Test Cases</h1>

        <hr>

        <div class="row">

            <div class="col-md-3">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Actions</h3>
                    </div>
                    <div class="panel-body text-center">
                        <a class="btn btn-default btn-cta"
                           href="/content/testcases/create/">
                            <span class="glyphicon glyphicon-plus"></span>
                            Create new Test Case</a>
                    </div>
                </div>

            </div>

            <div class="col-md-9">
                {% include "components/test_case_list_grid.html" %}
                {% include "components/paginator.html" %}
            </div>

        </div>
    </div>

{% endblock %}
