{% extends "base.html" %}

{% block title %}Test Suites{% endblock %}

{% block content %}



    <div class="container">

        <h1>Test Suites</h1>

        <hr>

        <div class="row">

            <div class="col-md-3 text-center">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Actions</h3>
                    </div>
                    <div class="panel-body">
                        <a class="btn btn-default btn-cta"
                           href="/content/testsuites/create/">
                            <span class="glyphicon glyphicon-plus"></span>
                            Create new Test Suite</a>
                    </div>
                </div>

            </div>

            <div class="col-md-9 personal-info">
                {% include "components/test_suite_list_grid.html" %}
            </div>

        </div>
    </div>


{% endblock %}
