
<div class="panel panel-default no-print">
    <div class="panel-heading">
        <h3 class="panel-title">Actions</h3>
    </div>
    <div class="panel-body text-center">
        <a class="btn btn-default btn-cta btn-block"
           href="{% url "test_step_view" pk=test_step.pk %}">
            <span class="glyphicon glyphicon-pencil"></span>
            Return to Test Step</a>
    </div>
</div>

{% if screenshot %}
    <div class="text-center">
        <img data-src="holder.js/200x150"
             class="img-thumbnail"
             alt="{{ screenshot.name }}"
             src="{{ screenshot.screenshot.url }}"
             style="width: 200px; height: 150px;">
    </div>
{% endif %}