<form class="form-horizontal custom-error-message" role="form" id="form" method="post"
      action="{% url "ordertestcase_create" test_suite_pk=test_suite.pk %}">

    {% csrf_token %}

    {{ form.non_field_errors | safe }}

     <div class="form-group {% if form.number.errors %}has-error{% endif %}">
        <label class="col-lg-3 control-label">Test Case number:</label>

        <div class="col-lg-8">
            {{ form.number }}
            {{ form.number.errors | safe }}
        </div>
    </div>

     <div class="form-group {% if form.test_case.errors %}has-error{% endif %}">
        <label class="col-lg-3 control-label">Test Case:</label>

        <div class="col-lg-8">
            {{ form.test_case }}
            {{ form.test_case.errors | safe }}
        </div>
    </div>

    <div class="clearfix">
        <div class="form-group form-group-lg pull-right">
            <a href="{% url "test_suite_edit" pk=test_suite.pk %}"
               type="button" class="btn btn-default">Discard</a>
            <span></span>
            <input type="submit" class="btn btn-primary" value="Save Changes">
        </div>
    </div>
</form>
