<form class="form-horizontal m2m"
      role="form"
      id="form"
      method="post"
      enctype="multipart/form-data"
      action="/content/teststeps/modify/{{ test_step.pk }}/">

    {% csrf_token %}

    {{ form.as_p }}

    <div class="clearfix">
        <div class="form-group form-group-lg pull-right">
            <a href="/content/testcases/modify/{{ test_step.pk }}/" type="button" class="btn btn-default">Discard</a>
            <span></span>
            <input type="submit" class="btn btn-primary" value="Save Changes">
        </div>
    </div>
</form>