{% extends "base.html" %}

{% block title %}Create Test Case{% endblock %}

{% block content %}

    <div class="container">

        <h1>Create Test Case</h1>

        <hr>

        <div class="row">

            <div class="col-md-3">
                <div class="alert alert-info" role="alert">
                    New Test Case will be created for project {{ userprofile.default_project }}.
                </div>
            </div>

            <div class="col-md-9">
                {% include "forms/test_case/test_case_create_form.html" %}
            </div>

        </div>
    </div>

{% endblock %}