
header.marquee {
    color: #fff;
    background-color: #0f2334;
}

.marquee span.help-block {
    color: #ffff00;
}

textarea {
    resize: vertical;
}

.m2m ul {
    overflow: auto;
    margin: 0;
    padding: 0;
}

.m2m li {
    display: inline-block;
    width: 30%;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.m2m li:before {
    padding: 5px;
    margin-right: 5px; /* you can tweak the gap */
    display: inline-block;
}

.custom-error-message li {
    display: inline-block;
}