<div class="panel panel-default no-print">
    <div class="panel-heading">
        <h3 class="panel-title">Test Suites with this Test Case</h3>
    </div>
    <div class="panel-body">
        {% for item in order_test_cases %}
            <p><i class="glyphicon glyphicon-tags"></i> <a href="{% url "test_suite_view" pk=item.test_suite.pk %}">
                {{ item.test_suite.name }}</a>
            </p>
        {% empty %}
            No Test Suites in this list.
        {% endfor %}
    </div>
</div>