<div>
    <h3>Included Test Steps</h3>

    <div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>

            {% for item in order_test_steps %}
                <tr>
                    <td>{{ item.number }}</td>
                    <td>
                        <a href="{% url "test_step_view" pk=item.test_step.pk %}">
                            {{ item.test_step.name }}
                        </a>
                    </td>
                    <td>{{ item.test_step.status.name }}</td>
                </tr>

            {% empty %}
                <tr>
                    <td colspan="3" class="text-center">
                        No Test Steps in this Test Case yet.
                    </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>

    </div>

    <hr>

</div>