<div>
    <h3>Execution History</h3>

    <div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Date</th>
                <th>Tester</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1970-01-01</td>
                <td>Billy Jean</td>
                <td>
                    <a href="" type="button" class="btn btn-default btn-xs">view</a>
                </td>
            </tr>
            <tr>
                <td>1970-01-03</td>
                <td>Jack Torrance</td>
                <td>
                    <a href="" type="button" class="btn btn-default btn-xs">view</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <hr>

</div>