{% extends "base.html" %}

{% block title %}Modify Test Step in Test Case{% endblock %}

{% block content %}

    <div class="container">

        <h1>Modify Test Step in Test Case</h1>

        <hr>

        <div class="row">

            <div class="col-md-3">

                {% include "panels/orderteststep_actions_panel.html" %}

            </div>

            <div class="col-md-9">

                <h3>{{ object.test_case.name }}</h3>

                <span class="help-block">
                    {{ object.test_case.description }}
                </span>

                <hr>

                {% include "forms/orderteststep/orderteststep_modify_form.html" %}
            </div>

        </div>
    </div>

{% endblock %}