{% extends "base.html" %}

{% block title %}Remove Test Step from Test Case{% endblock %}

{% block content %}

    <div class="container">

        <h1>Remove Test Step from Test Case</h1>

        <hr>

        <div class="row">

            <div class="col-md-3">
                [TODO: fill in this panel]
            </div>

            <div class="col-md-9">

                <h3>{{ object.test_case.name }}</h3>

                <span class="help-block">
                    {{ object.test_case.description }}
                </span>

                <hr>

                <form action="{% url "orderteststep_remove" test_case_pk=object.test_case.pk pk=object.pk %}"
                      method="post">

                    {% csrf_token %}

                    <p>Are you sure you want to remove "<b>{{ object.test_step.name }}</b>" from Test Case?</p>

                    <div class="clearfix">
                        <div class="form-group form-group-lg pull-right">
                            <a href="{% url "test_case_edit" pk=object.test_case.pk %}" type="button"
                               class="btn btn-default">Discard</a>
                            <span></span>
                            <input type="submit" class="btn btn-primary" value="Confirm">
                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>

{% endblock %}