{% extends "base.html" %}

{% block title %}{{ test_suite.name }}{% endblock %}

{% block content %}

    <div class="container">

        <h1><i class="glyphicon glyphicon-tags"></i> {{ test_suite.name }}</h1>
        <span class="help-block">{{ test_suite.description }}</span>

        <hr>

        <div class="row">

            <div class="col-md-4">
                {% include "panels/test_suite_details_panel.html" %}
                <div></div>
                {% include "panels/test_suite_actions_panel.html" %}
            </div>

            <div class="col-md-8 personal-info">
                {% include "components/test_suite_included_testcases_grid.html" %}
                <div></div>
                {% include "components/test_suite_execution_history_grid.html" %}
            </div>

        </div>
    </div>


{% endblock %}
